<!DOCTYPE html>
<html>

<head></head>
<style>
    body {
        background-color: darkgrey;
    }

    div.header {
        background-color: rgb(53, 151, 53);
        text-align: center;
        color: rgb(221, 221, 221);
    }

    div.centro {
        background-color: white;
        text-align: center;
    }

    div.footer {
        background-color: rgb(48, 47, 47);
        color: beige;
        text-align: center;
    }
</style>

<body bgcolor='red'>
    <div class="header">
        <br/>
        <h3>Hola {{ nombre }}</h3>
        <br/>
        <h3>Bienvenido</h3>
        <br/>
    </div>
    <div class="centro">
        <br/> Para validar tu cuenta haz click en el siguiente enlace:
        <br/>
        <br/>
        <a href="{{ url }}{{ token }}/{{nombre}}">{{ url }}{{ token }}/{{nombre}}</a>
        <br/>
        <br/>
    </div>
    <div class="footer">
        <br/>
        <br/> Contactenos:
        <br/> Oetec.SA:
        <br/>
    </div>
</body>

</html>