<!DOCTYPE html>
<html>
<head></head>
<style>
    body {
        background-color: darkgrey;
    }

    div.header {
        background-color: rgb(53, 151, 53);
        text-align: center;
        color: rgb(221, 221, 221);
    }

    div.centro {
        background-color: white;
        text-align: center;
    }

    div.footer {
        background-color: rgb(48, 47, 47);
        color: beige;
        text-align: center;
    }
</style>

<body bgcolor='red'>
    <div class="header">
        <br/>
        <h3>Hola {{ usuario.username }}</h3>
        <br/>
        <h3>Esto es el sistema de recuperacion de clave de Oetec</h3>
        <br/>
    </div>
    <div class="centro">
        <br/> Se ha cambiado a una contraseña provisional 
        <br/>
        <br/>
        <a> Su contraseña es : {{cedula}}</a>
        <br/>
        <br/>
    </div>
    <div class="footer">
        <br/>
        <br/> Contactenos:
        <br/> Aitec.SA:
        <br/>
    </div>
</body>

</html>