<html>

<head>
    <title>Certificado de {{empresa}}</title>
    <style>
        section {
            margin: 0 auto;
            width: 80%;
            border: 2px solid slategrey;
        }
    </style>
</head>

<BODY onload="window.print()">
    <section>
        <center>
            <h3>{{empresa}}</h3>
            <h2>{{representante}}</h2>
            <br/>
            <br/>
            <h1>CERTIFICADO</h1>
            <br/>
            <br/>
            <h3>Yo {{representante}} de {{empresa}} le otorgo este certificado de voluntariado
                <br/> a {{voluntario}}, haciendo destacar que estubo cerca de {{meses}} meses de tiempo
                <br/>
                <br/> Se expide la presente constancia a peticion del interesado para fines multiples
            </h3>
            <br/><br/><br/>
            <h4>{{representante}}</h4>
        </center>
    </section>
</body>

</html>