<!DOCTYPE html>
<html>

<head></head>
<style>
    body {
        background-color: darkgrey;
    }

    div.header {
        background-color: rgb(53, 151, 53);
        text-align: center;
        color: rgb(221, 221, 221);
    }

    div.centro {
        background-color: white;
        text-align: center;
    }

    div.footer {
        background-color: rgb(48, 47, 47);
        color: beige;
        text-align: center;
    }
</style>

<body bgcolor='red'>
    <div class="header">
        <br/>
        <h3 style="color: blue">Petición de Certificado</h3>
        <br/>
        <h3>El usuario {{ nombre }} despues de cumplir {{dias}} días
            <br/> de voluntariado a partir de la fecha {{fecha_inicio}} <br/>
            solicita se le otorgue el respectivo certificado
        </h3>
        <br/>
    </div>
    <div class="centro">
        <br/>
        <br/>
        <br/>
        
        <br/>
        <br/>
    </div>
    <div class="footer">
        <br/>
        <br/> Atentamente:
        <br/> {{ nombre }}:
        <br/>
    </div>
</body>

</html>